.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 20px;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.flex-col{
    flex-direction: column;
}
.dzu-dropzone{
    overflow: hidden;
    border-style: dashed;
    border-color: indigo;
    border-width: 2px;
}
.dzu-previewContainer{
    padding: 20px;
}